@import "./globalUtiles.module.scss";

.contentContainer{
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    grid-column-gap: 20px;
    z-index: 5;
    position: relative;
}
.lastQuestionList{
    background-color: #fff;
    padding: 1.3em .9em;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06), 0px 4px 6px -1px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
}
.newQuestion-input{
    background-color: #fff;
    border: 1px solid #E2E8F0;
    border-radius: 6px;
    padding: .7em;
    &:focus {
        box-shadow: 0 0 13px #557fe93b;
    }
}
.newQuestion-input::placeholder {
    color: #A0AEC0;
}
.newQuestionBtn{
    @include btnGeneral(.8em 1.6em, 500, 8px);
    @include btnBorederd(8px, #fff, 1px solid var(--darkBlue), var(--darkBlue));
    &:hover{
        @include btnBorederd(8px, var(--darkBlue), 1px solid var(--darkBlue), #fff);
    }
}
.cancleBtn{
    @include btnGeneral(.8em 2.2em, 500, 8px);
    @include btnBorederd(8px,  var(--darkBlue), 1px solid var(--darkBlue), #fff);
    &:hover{
        @include btnBorederd(8px, #fff, 1px solid var(--darkBlue), var(--darkBlue));
    }
}
.questionBox {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06), 0px 4px 6px -1px rgba(0, 0, 0, 0.10);
    padding: 1.5em
}
.questionContent-question{
    @extend .questionBox;
    display: flex;
    align-items: start;
    margin-bottom: 1.2em;
}
.questionContent-answer{
    @extend .questionBox;
}
.tagsContainer{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 125px) );
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.tag{
    border-radius: 7px;
    display: flex;
    padding: .3em .5em;
    justify-content: center;
    color:#232323;
    align-items: center;
    text-align: center;
    line-height: 1.1;
    background-color: var(--skyBlue);
}
@media only screen and (max-width : 800px) {
	.contentContainer{
        grid-template-columns: 1fr;
    }
}