@import "./globalUtiles.module.scss";

.signinBtn{
    width: 100%;
    @include btnGeneral( 1em 1em, 1em, 500, 6px);
    background-color: var(--darkBlue);
    color: #fff;
    margin-top: 1.8em;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.10);
}
.input-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    padding: .7em;
    background-color: var(--skyBlue);
    border-radius: 0 6px 6px 0;
}
.input{
    background-color: #fff;
    border: 1px solid #D9D9D9;
    padding: .5em;
    width: 100%;
    border-radius: 6px 0 0 6px;
}
.input:focus {
    border-color: var(--darkBlue);
}
.input::placeholder{
    color: #ACACAC;
}
.loginOptionContainer{
    background-color: #fff;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    padding: .5em;
    font-size: 1.5em;
}
.law-warns{
    width: 30%;
    background-color: var(--skyBlue);
    border-radius: 15px;
    padding: 1.4em;
    margin-left: 3.5em;
    opacity: 0;
    transition: .3s all;
}